<div>
	<style>
		table, td, th {
		    border: 1px solid black;
		}
		
		table {
		    width: 100%;
		}
		
		td{
			padding:15px;
		}
		
		th {
		    height: 50px; text-align:left;
		}
		.unstyled{
			list-style-type:none;
		}
	</style>
	<div class="header">
		<h3>Game Rules <button>Edit</button></h3>
	</div>
	
	<div class="rules">
		<h4>Game Rules</h4>
		<ul class="unstyled">
			<li ng-repeat="preset in presetRules">{{preset.text}}: {{preset.qty}}</li>
			<li ng-repeat="addition in additionalRules">{{addition.text}}</li>
			<!--
			<input type="number" min="0" ng-model="additional.done">
			<span class="done-{{additional.done}}">{{additional.text}}</span>
			<input type="checkbox" ng-model="additional.done">
			<span class="done-{{additional.done}}">{{additional.text}}</span>
			-->
		</ul>
	</div>
	
	<div>
		<table class="friendTable">
			<thead>
				<tr>
					<th>Friends</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="friend in friends">
					<td>{{friend.name}}</td>
				</tr>
			</tbody>
		</table>
	</div>
	<input type="button" value="Back" />
</div>