<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.andy.hugfest" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".verificationViews.BufferActivity"
            android:label="@string/app_name"
            android:noHistory = "true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".verificationViews.LoginActivity"
            android:label="@string/title_activity_login"
            android:noHistory = "true" >
        </activity>
        <activity
            android:name=".HomeActivity"
            android:label="@string/title_activity_home" >
        </activity>
        <activity
            android:name=".FriendActivity"
            android:label="@string/title_activity_friend" >
        </activity>
        <activity
            android:name=".ProfileActivity"
            android:label="@string/title_activity_profile" >
        </activity>
        <activity
            android:name=".SettingActivity"
            android:label="@string/title_activity_setting" >
        </activity>
        <activity
            android:name=".TargetActivity"
            android:label="@string/title_activity_target" >
        </activity>
        <activity
            android:name=".CreateActivity"
            android:label="@string/title_activity_create" >
        </activity>
        <activity
            android:name=".SavedRulesActivity"
            android:label="@string/title_activity_saved_rules" >
        </activity>
        <activity
            android:name=".AllTabMainActivity"
            android:label="@string/title_activity_all_tab_main" >
        </activity>

        <activity
            android:name=".tabViews.tabFriends"
            android:label="TabFriends">
        </activity>

        <activity
            android:name=".tabViews.tabProfile"
            android:label="TabFriends">
        </activity>

        <activity
            android:name=".tabViews.tabHome"
            android:label="TabFriends">
        </activity>

    </application>

</manifest>
