<div>
	<div>
		<div style="text-align: center">Games</div>
		<input style="text-align: right" type="button" value="+"/>
	</div>
	<style>
		table, th, td{
	    	border: 1px solid black;
		}
		table{
			width:100%
		}
	</style>
	
	<table>
		<thead>
			<tr>
				<th ng-repeat="col in columns">{{col}}</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="game in friendGames | orderBy: gameSortFunction: true" onclick="">
				<td>{{game.owner}}</td>
				<td>{{game.mutual}}</td>
				<td>{{game.status}}</td>
			</tr>
		</tbody>
	</table>
</div>